
body {
  background-color: #fff4ed;
  color: #373D3F;
  font-size: 16px;
  line-height: normal;
}

h1 {
  font-size: 32px; /* 32px */
  line-height: 160%
}

p {
  font-size: 16px; /* 16px */
  line-height: 140%;
  margin-bottom: 14px;
}

nav {
  /* choose any color here, as long as the contrast works with the text color */
  background-color: #eee3dc;
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  a:link { color:#0070BB; } /* unvisited */
  a:visited { color:#0070BA; } /* visited */
  a:hover { color:#0070BC; } /* mouse over */
  a:active { color:#0070BD; } /* selected */
}

.logo {
  background: #000 url(images/bloc-logo.png) no-repeat top left;
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 80%;
  background: #fff
  background-image: url(images/instagram-pic.jpg) no-repeat top center;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: auto;
  width: 50%;
}
